body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #d9ecfc;
	text-align: center;
	padding: 20px 10px;
}

.title {
	color: black;
	margin: 0;
}

.intro {
	font-size: 1.2em;
	margin: 5px 0;
}

nav {
	text-align: center;
	margin: 10px 0;
}

nav a {
	margin: 0 15px;
	text-decoration: none;
	color: #333;
}

main{
	padding: 20;
}

h2 {
	color: #555;
	border-bottom: 2px solid #ddd;
	padding-bottom: 5px;
}

footer {
	text-align: center;
	background-color: #eee;
	padding: 10px;
}